@model IEnumerable<TournamentTracker.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Participant Roles</h2>
<p>
    Every person present at a tournament is a participant. Participants fulfill specific roles based on
    their responsibilities to the tournament. All participants share the responsibility of acting in a
    respectful manner toward one another. Please read the Fundamental Event Document for a
    detailed explanation of these roles. Participant leader roles are: organizer, marshal, and judge.
    Other roles include player and spectator.
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var role in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => role.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=role.ID }) |
            @Html.ActionLink("Details", "Details", new { id=role.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=role.ID })
        </td>
    </tr>
}

</table>
