@model TournamentTracker.Models.Round

@{
    ViewBag.Title = "Index";
}

<h2>Round 1</h2>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@

<div class="form-group">
    <div class="col-md-offset-2">
        <button type="button" id="previous" class="btn btn-default">Previous</button>
        <button type="button" id="next" class="btn btn-default">Next</button>
    </div>
</div>
