@model IEnumerable<TournamentTracker.Models.Structure>

@{
    ViewBag.Title = "Index";
}

<h2>Structures</h2>
<p>
    The structure of a tournament determines how many Swiss and single elimination rounds are used.
    All Star Wars: Destiny tournaments must use one of the following three types.
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
